body {
  background-color: #dfd4e3;
  margin: 0;
  font-family: Tahoma, sans-serif;
  direction: rtl;
}

/* Title */

header h1, header h2 {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #400020;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Text content */
.box {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 22px;
  color: #000;
  line-height: 1.8;
  background-color: #dfd4e3;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

/* Button container */
.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* Button styling */
.button,
a.button {
  box-shadow: 0 0 30px #800020;
text-decoration: none;
  text-align: center;
  width: 200px;
  padding: 20px;
  font-size: 24px;
  color: #800020;
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  border: 5px solid #800020;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.5s;
  background-color: #transparent;
}

a.button:hover {
  box-shadow: 0 5px 50px 0 #e5a710 inset, 0 5px 50px 0 #e5a710;
  text-shadow: 0 0 5px #e5a710, 0 0 5px #e5a710;
}

/* Responsive image (if needed) */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


.halachot-list {
  max-width: 480px;
  margin: 0 auto 60px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px 40px;
  justify-content: center;
  }

/* Responsive: single column on narrow screens */
@media (max-width: 480px) {
  .halachot-list {
    grid-template-columns: 1fr;
    max-width: 90%;
    gap: 15px 0;
  }
  
   .button {
    width: 100%;
  }
}

.button.active {
  background-color:#908195;
  color:#000;}
